/*estilização*/

  body {

     background-color: blue; /*cor de fundo*/
     font: normal 15pt arial

}

/*cabeçalho, titulo*/

head {
     
     color: white;
     text-align: center; /*cetralizar o texto no meio da tela*/
}

/* onde ficar as div */
section {
    background-color: white; /*cor de fundo*/
    border-radius: 10px; /*arredondar os cantos*/
    padding: 15px; /*tamanho do quadrado*/
    widht: 500px; /*largura*/
    margin: auto; /*centralizar no meio da tela*/
   
    /*deslocamento lateral, deslocamento vertical, espalhamento,cor*/
    box-shadow: 5px 5px 10px green;
}

/*rodapé*/
footer {

    color: white; /*cor do texto*/
    text-align: center; /*centralizar no meio da tela*/
    font-style: italic; /*estilo da fonte*/

}